<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Activation de compte échouée</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Activation de compte échouée">
    <meta name="author" content="MaisonChap">
    <meta name="keywords" content="Activation de compte échouée">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
</head>
<body>
<div class="container mt-5">
    <div class="text-center">
        <iframe src="https://lottie.host/?file=b2e92e44-0e18-44fa-b616-8871f5a77878/5yoIIfcsFo.json"></iframe>
        <h1 class="mt-4">Activation du compte échouée</h1>
        <p class="lead">Une erreur s'est produite lors de l'activation de votre compte. Veuillez réessayer.</p>
        <a th:href="${ loginUrl }" class="btn btn-primary btn-lg">Retourner à la page de connexion</a>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
